<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HermesApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HermesApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HermesApp.Properties.Settings>
            <setting name="Remember_Login" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Remember_BlockTime" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
        </HermesApp.Properties.Settings>
    </userSettings><applicationSettings>
        <HermesApp.Properties.Settings>
            <setting name="Block_Minuts" serializeAs="String">
                <value>1</value>
            </setting>
        </HermesApp.Properties.Settings>
    </applicationSettings>
<connectionStrings><add name="HermesAppEntities" connectionString="metadata=res://*/Data.HermesModel.csdl|res://*/Data.HermesModel.ssdl|res://*/Data.HermesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa;initial catalog=HermesApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>